<div *ngIf="post | async as item" class="blog-post">
  <h2 class="blog-post-title">{{item.title}}</h2>
  <p class="blog-post-meta">{{item.created_at | date: 'dd LLL yyy HH:mm'| lowercase}} by
    <a class="text text-primary" *ngIf="author | async as author">{{author.name}}</a></p>
  <img src="{{item.image}}" alt="No image" class="post-show-image">
  <article class="post-content" [innerHTML]="content"></article>
  <p class="text-muted" style="margin: 1%" *ngIf="item.updated_at">Last update: {{item.updated_at | date: 'dd LLL yyy HH:mm'| lowercase}}</p>
</div>
